.education{
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.title{
    font-weight: 300;
    font-size: 25px;
    color: green;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.course{
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

.organization{
    display: flex;
}

.organization p{
    font-weight: 15px;
    color: darkgray;
    text-transform: capitalize;
}

.description{
    font-family: sans-serif;
    text-transform: lowercase;
}

.description::first-letter{
    text-transform: capitalize;
}