.education{
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.title{
    font-weight: 300;
    font-size: 25px;
    color: green;
    text-transform: uppercase;
    margin-bottom: 5px;
}

