.skills h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: green;
}

.skills h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}