.course{
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

.organization{
    display: flex;
}

.organization p{
    font-weight: 15px;
    color: darkgray;
    text-transform: capitalize;
}

.description{
    font-family: sans-serif;
    text-transform: lowercase;
}

.description::first-letter{
    text-transform: capitalize;
}